{
  "parser": "@typescript-eslint/parser",
  "plugins": ["eslint-plugin-typescript", "react-hooks"],
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "additional-typescript-only-rule": "off"
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
}
